# Ignore compiled Python files
*.pyc

# Ignore the virtual environment directory
env/
local/

.ipynb_checkpoints/
# # Ignore the Django project's settings file
# my_project/settings.py


# # Ignore any local development configuration files
# *.env

# Ignore log files
*.log

# Ignore cache directories
__pycache__/

# Ignore IDE-specific files
.vscode/
.idea/
*.iml
*.pydevproject

# Ignore dependency management files
pip-lock.txt
